/* html,body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-color: #282c34;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .navbar{
    overflow: auto;
  }
  
  
  .main-layout {
    display: flex;
    flex-direction: row;
  }
  
  nav {
    background-color: #363a45;
    height: 100vh;
    margin-right: 15px;
    overflow-y: scroll;
    text-align: center;
    width: 250px;
  }
  
  nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }
  
  nav li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  nav li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .nav-active {
    color: grey;
    transition: all .3s ease-out;
  } */

  *{
    padding: 0;
    margin: 0;
    background-color: #F6F8FC;
  }

  a{
    text-decoration: none;
  }

  header{
    height: 47px;
  }
  .main-layout {
    display: flex;
    flex-direction: row;
  }

  nav {
    /* background-color: #363a45; */
    height: 90vh;
    /* margin-right: 15px; */
    overflow-y: auto;
    text-align: center;
    width: 250px;
    padding-top: 1rem;
  }

  nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-left: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  nav li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  nav li a {
    color: rgb(18, 14, 14);
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .nav-active {
    color: grey;
    transition: all .3s ease-out;
  } 

  /* .links{
    align-items: center;
  } */
  
  span{
    text-align: left;
  }

  .item-active{
    width: 220px;
    background-color: #D3E3FD;
    height: 30px;
    border-radius: 0 20px 20px 0;
    font-weight: bold;
    cursor: pointer;

  }

  .item-active span{
    background: none;

  }

  .item{
    width: 220px;
    /* background-color: green; */
    height: 30px;
    /* border-radius: 0 20px 20px 0; */

  } 

  .item:hover{
    background: #EAEBEF;
    cursor: pointer;
    transition: all .3s ease-out;
    border-radius: 0 20px 20px 0;

  }

  .item span{
    background:none;
  }
  
  /* .home h1{
    text-align: center;
    padding-top: .5rem;
  } */

  .content{
    position: relative;
    z-index: 3;
    background-color: #FFF;
    width: 75vw;
    height: 85vh;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
  }

  .content h1{
    text-align: center;
    background: none;
  }

  .navbar{
    /* margin: 0;
    padding: 0; */
    margin-top: 1.5rem;
    display: inline-block;
  }
  .navigation{
    margin-top: 1.5rem;
  }